---
title: aqz/tamaina's Web site
description: aqz/tamainaによるWebサイトです。
layout: index
improve: true
---
#toplg Hello.

p.text-center.
  Misskeyインスタンス #[a(href="https://c2.a9z.dev") c2.a9z.dev] 開始！

hr.m-4

p.
  aqz/tamainaが色々やるWebサイトです。#[br]
  スマートフォンでは、画面左端から右にスワイプすることでサイドメニューが表示されます。

h2 CONTENTS
