.sidebarstyle-h1 目次

ul.list-unstyled.sidebarstyle-list
  +lis_of_dir('/', {self: true, s: false, unstyled: true, description: false})

.sidebarstyle-h1 アカウント

ul.list-unstyled.sidebarstyle-list
  li
    a.d-block(href="https://mk.a9z.dev/@aqz" target="_blank" rel="noreferrer")
      | @aqz@mk.a9z.dev
  li
    a.d-block(href="https://yuzulia.xyz/@aqz" target="_blank" rel="noreferrer")
      | @aqz@yuzulia.xyz
  li
    a.d-block(href="https://github.com/tamaina" target="_blank" rel="noreferrer")
      +fa_fw('github', 'fab')
      |  tamaina
  li
    a.d-block(href="https://twitter.com/t_ma1n" target="_blank" rel="noreferrer")
      +fa_fw('twitter', 'fab')
      |  t_ma1n#[br]　#[small うるさくないアカウント]
  li
    a.d-block(href="https://twitter.com/aqzvy" target="_blank" rel="noreferrer")
      +fa_fw('twitter', 'fab')
      |  aqzvy#[br]　#[small VTuber方面アカウント]
  li
    a.d-block(href="https://twitter.com/aqz_tmin" target="_blank" rel="noreferrer")
      +fa_fw('twitter', 'fab')
      |  aqz_tmin#[br]　#[small 多方面・RT多めアカウント]
  li
    a.d-block(href="https://twitter.com/aqzsy" target="_blank" rel="noreferrer")
      +fa_fw('twitter', 'fab')
      |  aqzsy#[br]　#[small 政治方面アカウント]
  li
    a.d-block(href="https://www.youtube.com/channel/UC2_ujStdw7oU3wW283K1yeA?sub_confirmation=1" target="_blank" rel="noreferrer")
      +fa_fw('youtube', 'fab')
      |  YouTube

#updateTime.small.text-muted
  | Site built at #{updateMoment.format('lll')}
