a.sidebarstyle-h1(href="/") aqz/tamaina's Web site

ul.list-unstyled.sidebarstyle-list
  +lis_of_dir('/', {self: false, s: false, unstyled: true, description: false, useBreadcrumbTitle: true})

.sidebarstyle-h1 アカウント

ul.list-unstyled.sidebarstyle-list
  li
    a.d-block(href="https://c2.a9z.dev/@aqz" target="_blank" rel="noreferrer")
      | @aqz@c2.a9z.dev
  li
    a.d-block(href="https://yuzulia.xyz/@aqz" target="_blank" rel="noreferrer")
      | @aqz@yuzulia.xyz
  li
    a.d-block(href="https://github.com/tamaina" target="_blank" rel="noreferrer")
      | #[+fa_fw('github', 'fab')] tamaina
  li
    a.d-block(href="https://twitter.com/t_ma1n" target="_blank" rel="noreferrer")
      | #[+fa_fw('twitter', 'fab')] t_ma1n #[small うるさくない]
  li
    a.d-block(href="https://twitter.com/aqz_tmin" target="_blank" rel="noreferrer")
      | #[+fa_fw('twitter', 'fab')] aqz_tmin #[small 多方面 RT多め]
  li
    a.d-block(href="https://twitter.com/aqzvy" target="_blank" rel="noreferrer")
      | #[+fa_fw('twitter', 'fab')] aqzvy #[small VTuber方面]
  li
    a.d-block(href="https://twitter.com/aqzsy" target="_blank" rel="noreferrer")
      | #[+fa_fw('twitter', 'fab')] aqzsy #[small 政治方面]
  li
    a.d-block(href="https://www.youtube.com/channel/UC2_ujStdw7oU3wW283K1yeA?sub_confirmation=1" target="_blank" rel="noreferrer")
      | #[+fa_fw('youtube', 'fab')] YouTube

#updateTime.small.text-muted
  | Site built at #{updateMoment.format('lll')}
