.sidebarstyle-h1 目次

ul.list-unstyled.sidebarstyle-list
  +lis_of_dir('/', {self: true, s: false, unstyled: true, description: false})

.sidebarstyle-h1 外部リンク

ul.list-unstyled.sidebarstyle-list
  li
    a.d-block(href="https://github.com/tamaina" target="_blank" rel="noreferrer")
      +fa_fw('github', 'fab')
      |  tamaina
  li
    a.d-block(href="https://twitter.com/t_ma1n" target="_blank" rel="noreferrer")
      +fa_fw('twitter', 'fab')
      |  t_ma1n
  li
    a.d-block(href="https://twitter.com/aqzvy" target="_blank" rel="noreferrer")
      +fa_fw('twitter', 'fab')
      |  aqzvy

#updateTime.small
  | サイトの更新 
  span.text-muted #{updateMoment.format('lll')}