a.sidebarstyle-h1(href="/") aqz/tamaina's Web site

ul.list-unstyled.sidebarstyle-list
  +lis_of_dir('/', {self: false, s: false, unstyled: true, description: false, useBreadcrumbTitle: true})

.sidebarstyle-h1 アカウント

ul.list-unstyled.sidebarstyle-list
  li
    a.d-block(href="https://c2.a9z.dev/@aqz" target="_blank" rel="noreferrer")
      | @aqz@c2.a9z.dev
  li
    a.d-block(href="https://yuzulia.xyz/@aqz" target="_blank" rel="noreferrer")
      | @aqz@yuzulia.xyz
  li
    a.d-block(href="https://github.com/tamaina" target="_blank" rel="noreferrer")
      | #[+fa_fw('github', 'fab')] tamaina
  li
    a.d-block(href="https://twitter.com/aqz_tmin" target="_blank" rel="noreferrer")
      | #[+fa_fw('twitter', 'fab')] aqz_tmin
  li
    a.d-block(href="https://twitter.com/aqzvy" target="_blank" rel="noreferrer")
      | #[+fa_fw('twitter', 'fab')] aqzvy
  li
    a.d-block(href="https://www.youtube.com/channel/UCds1cPl1_3Tv5oKp3bQW0XA?sub_confirmation=1" target="_blank" rel="noreferrer")
      | #[+fa_fw('youtube', 'fab')] YouTube 鉄道Ch

#updateTime.small.text-muted
  | Site built at #{updateMoment.format('lll')}
