html,
body
  word-break: normal
  scroll-behavior: auto
  font-size: 16px

.md-small
  font-size: .9em

.font-size-16
  font-size: 1.6em

.opacity-050
  opacity: .5

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  font-feature-settings: "palt"

b
strong
  font-weight: 700

.mw-70em
  max-width: 70em

  > section
    text-align: justify
    word-break: break-all

table
  width: auto !important

.page-index
  li
    a
      @extend .text-dark

.bg-black
  background-color: #000 !important

ul.simpleindex
  > li
    @extend .mb-1
    @extend .font-weight-bold

.lh-12
  line-height: 1.2em
.lh-16
  line-height: 1.6em

.flex-auto
  flex: auto

.img-fluid
  max-height: 90vh

.border-3
  border-width: 3px !important
.border-2
  border-width: 2px !important

.jm-h4
  font-size: 16px
  line-height: 1.6em
  font-weight: 700
  margin: 0

  > span
    overflow-wrap: break-word

b
  font-weight: 700 !important

pre:not(.mfm-code)
  background: #f5f5f5
  padding: 1rem
  line-height: 1.2em
  > code
    padding: 0

code:not(.mfm-inline-code)
  @extend .rounded
  background: #f5f5f5
  font-size: 1em
  padding: 0 .2rem
  background-clip: padding-box
  margin: 0 .1rem

.main-shadow
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2)

#p7frame
  display: none
